@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Tamma+2:wght@700&family=Lobster&display=swap');

/*ESTILOS DE CONOCENOS.HTML*/
.login_icon2{
    margin: 5px;
    font-size: 20px;
    color: blue;
}
.conocenos_antecedentes h4{
    font-size: 20px;
    background: #2980B9;
    border-radius: 0px 40px 40px 0px;
    width: 500px;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    animation: bounceInLeft;
    animation-duration: 2s;
    font-family: 'Baloo Tamma 2', cursive;
}
.conocenos_antecedentes p{
    font-size: 18px;
    text-align: justify;
    margin: 30px;
    font-family: 'Baloo 2', cursive;
}
.conocenos_mision h4{
    font-size: 20px;
    background: #2980B9;
    border-radius: 0px 40px 40px 0px;
    width: 500px;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    animation: bounceInLeft;
    animation-duration: 2s;
    font-family: 'Baloo Tamma 2', cursive;
}
.conocenos_mision p{
    font-size: 18px;
    text-align: justify;
    margin: 30px;
    font-family: 'Baloo 2', cursive;
}
.conocenos_vision h4{
    font-size: 20px;
    background: #2980B9;
    border-radius: 0px 40px 40px 0px;
    width: 500px;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    animation: bounceInLeft;
    animation-duration: 2s;
    font-family: 'Baloo Tamma 2', cursive;
}
.conocenos_vision p{
    font-size: 18px;
    text-align: justify;
    margin: 30px;
    font-family: 'Baloo 2', cursive;
}

.btn-shop2{
  display: block;
  border: 2px solid #2980B9;
    border-radius: 10px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 20px auto;
  transition: all 0.5s;
}
.btn-shop2:hover{
  background: #2980B9;
  color: white;
    border-radius: 10px;
}



@media (max-width:820px){
    .conocenos_antecedentes h4{
        width: 400px;
    }
    .conocenos_mision h4{
        width: 400px;
    }
    .conocenos_vision h4{
        width: 400px;
    }
}



@media (max-width:768px){
    .conocenos_antecedentes h4{
        width: 300px;
    }
    .conocenos_mision h4{
        width: 300px;
    }
    .conocenos_vision h4{
        width: 300px;
    }
}