@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Tamma+2:wght@700&family=Lobster&display=swap');
/*ESTILOS DEL HEADER Y MENÚ DE NAVEGACIÓN INDEX.HTML*/

.logo{
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceIn;
    animation-duration: 2s;
    font-size: 25px;
}
.logo img{
    width: 150px;
    height: 30px;
}
.login_icon{
    margin: 5px;
    font-size: 20px;
    color: green;
}

.navbar{
    font-family: 'Baloo 2', cursive;
    font-size: 16px;
}
.busqueda_form{
    height: 35px;
}

.busqueda_form button{
    height: 35px;
    text-align: center;
}

/*ESTILOS DEL BANNER DE IMAGENES (SLIDER)*/
.container-slider{
  position: relative;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%;
  position: relative;
}
.slider:before{
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  height: 100%;
}
.slider__section {
  width: 100%;
  position: relative;
}
.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-family: 'Baloo Tamma 2', cursive;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}
.slider__btn:hover { 
  background: #fff;
}
.slider__btn--left{
  left: 10px;
}
.slider__btn--right {
  right: 10px;
}
.slider__content{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
  z-index: 999;
}
.slider__title{
  font-size: 2.2em;
  margin: 0;
  font-family: 'Baloo Tamma 2', cursive;
}
.slider__txt{
  margin: 5px 0;
  font-family: 'Baloo2', cursive;
}
.btn-shop{
  display: block;
  border-radius: 10px;
  border: 2px solid green;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 20px auto;
  transition: all 0.5s;
}
.btn-shop:hover{
  background: green;
  color: white;
  border-radius: 10px;
}

/*ESTILOS DE LA SECCIÓN DE ANTECEDENTES (INICIO)*/
.seccion_antecedentes h4{
    font-size: 20px;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    animation: bounceInLeft;
    animation-duration: 2s;
    font-family: 'Baloo Tamma 2', cursive;
}
.seccion_antecedentes p{
    font-size: 18px;
    text-align: justify;
    margin: 30px;
    font-family: 'Baloo 2', cursive;
}
.seccion_antecedentes a{
    margin: 0px 0px 0px 30px;
    width: 100px;
    padding: 5px;
    font-family: 'Baloo 2', cursive;
    font-size: 18px;
}

/*ESTILOS PARA LA SECCION DE COMUNIDAD(INICIO)*/
.seccion_comunidad h4{
    font-size: 20px;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    animation: bounceInLeft;
    animation-duration: 2s;
    font-family: 'Baloo Tamma 2', cursive;
}
.seccion_publicaciones .card{
    margin-top: 20px;
}
.seccion_publicaciones .card .card-title{
    font-size: 20px;
    font-family: 'Baloo Tamma 2', cursive;
}
.seccion_publicaciones .card .card-text{
    font-size: 17px;
    text-align: justify;
    font-family: 'Baloo 2', cursive;
}
.seccion_publicaciones .card img{
    height: 250px;
}
/*ESTILOS DE PRODUCTOS (INICIO)*/
.seccion_productos h4{
    font-size: 20px;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    animation: bounceInLeft;
    animation-duration: 2s;
    font-family: 'Baloo Tamma 2', cursive;
}
.seccion_productos .card{
    margin-top: 20px;
}
.producto_card img{
    height: 150px;
    width: 100px;
    margin: auto;
}
.producto_card{
    width: 250px;
}
.producto_card .card-title{
    font-size: 20px;
    font-family: 'Baloo Tamma 2', cursive;
}
.producto_card .card-text{
    font-size: 18px;
    font-family: 'Baloo 2', cursive;
}
.producto_card a{
    font-size: 18px;
    padding: 5px;
    width: 215px;
    font-family: 'Baloo 2', cursive;
}


/*ESTILOS PARA TABLETA*/
@media (max-width: 820px){
    .seccion_productos .container{
        margin: auto;
        margin-top: 20px;
    }
    .seccion_productos .card{
        width: 160px;
        height: 300px;
        margin: auto;
    }
    .producto_card a{
        width: 120px;
    }
}
/*ESTILOS PARA DISPOSITIVOS MOVILES*/
@media (max-width:768px){
    .navbar-toggler-icon{
        width: 20px;
        height: 20px;
    }
    .seccion_productos .card{
        margin: auto;
        width: 300px;
    }
    .seccion_productos a{
        width: 260px;
    }
}