/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
    padding: 0;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text_admin{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
.bx-log-out:hover{
    background: #fff;
    color: balck;
}

.home-section .home_content{
    position: relative;
}

.home-section .overview_boxes{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}
.home-section .overview_boxes .caja{
    width: calc(100% / 4 - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 14px;
    background: #fff;
    border-radius: 12px;
}

.home-section .overview_boxes .box_topic{
    font-size: 20px;
    font-weight: 500;
}

.home_content .overview_boxes .numero{
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
}
.overview_boxes .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    margin-right: 5px;
}

.overview_boxes .caja .cart{
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    color: #66b0ff;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}

.overview_boxes .caja .cart.two{
    background: #C0F2D8 ; 
    color: #2BD47D;
}

.overview_boxes .caja .cart.three{
    background: #ffe8b3 ; 
    color: #ffc233;
}

.overview_boxes .caja .cart.four{
    background: #f7d4d7 ; 
    color: #e05260;
}



/*ADMINISTRACION DE USUARIOS*/
.container h1{
    font-size: 35px;
    display: inline-block;
}

.btn_new{
    display: inline-block;
    background: #239baa;
    color: #fff;
    padding: 5px 25px;
    border-radius: 4px;
    margin: 25px;
    list-style: none;
    text-decoration: none;
}

.form_search .btn-outline-success{
    color: #239baa;
}
.form_search .btn-outline-success:hover{
    background: #239baa;
    color: #fff;
}
.categoria{
    border-collapse: collapse;
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;
    width: 70%;
    border: 1px solid;
    margin: auto;
}

.cliente{
    border-collapse: collapse;
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: 1px solid;
}
table{
    border-collapse: collapse;
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: 1px solid;
}

table th{
    text-align: left;
    padding: 10px;
    background: #3d7ba8;
    color: #fff;
}

table tr:nth-child(odd){
    background: #fff;
}

table td{
    padding: 20px;
    
}

.link_edit{
    margin: 10px;
    padding: 10px;
    color: blue;
    list-style: none;
    text-decoration: none;
}

.link_delete{
    margin: 10px;
    padding: 10px;
    color: red;
    list-style: none;
    text-decoration: none;
}

.form_search{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    float: right;
    background: initial;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.form_search .btn_search{
    background: #1faac8;
    color: #fff;
    padding: 0 20px;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
}
.form_register{
    width: 450px;
    margin: auto;
}
.form_register h1{
    color: #3c93b0;
}

hr{
    border: 0;
    background: #ccc;
    height: 1px;
    margin: 10px 0;
    display: block;
}

form{
    background: #fff;
    margin: auto;
    padding: 20px 50px;
    border: 1px solid #d1d1d1;
}
label{
    display: block;
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;
    margin: 15px auto 5px auto;
}
input, select{
    display: block;
    width: 100%;
    font-size: 11pt;
    padding: 5px;
    border: 1px solid #85929e;
    border-radius: 5px;
}

.btn_save{
    font-size: 12pt;
    background: #12a4c6;
    padding: 10px;
    color: #fff;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    margin: 15px auto;
}

.productos_table img{
    width: 70px;
    height: 90px;
}

.data_delete{
    text-align: center;
}

.data_delete h2{
    font-size: 12pt;
}

.data_delete span{
    font-weight: bold;
    color: #4f7264;
    font-size: 12pt;
    display: inline-block;
}

.btn_cancel, .btn_ok{
    width: 124px;
    background: #428ba2;
    color: #fff;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    list-style: none;
    text-decoration: none;
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
.img{
  float: left;
}